<% if (msg && msg.length) {%>
<div class="contain">
    <div class="alert alert-success d-flex align-items-center flashmsg" role="alert">
        <div>
            <i class="fa-solid fa-circle-check"></i> <%= msg %>
        </div>
    </div>
</div>
<% }%>
