
<nav>
    <div class="logo">
            <p><i class="fa-brands fa-airbnb fa-2xl" style="color: #ff385c;"></i>&nbsp;<span>airbnb</span></p>
    </div>
    <div class="buttons">
        <button class="buttons_a">Anywhere&nbsp;</button>
        <button class="buttons_a">Any week&nbsp;</button>
        <button class="buttons_b">Add Guest&nbsp;</button><div class="search">&nbsp;&nbsp;<span><i class="fa-solid fa-magnifying-glass fa-sm"></i></span></div>
    </div>
    <div class="thirdpart">
        <p><a href="/listings">Airbnb your home <span><i class="fa-solid fa-globe"></i></span></a></p>
        <div>
            <a href="/listings/new"><i class="fa-solid fa-plus fa-lg" style="color: #ff385c;"></i></a>
            <a href="/user"><button><i class="fa-solid fa-user"></i></button></a>
        </div>
    </div>
</nav>

<!-- header two  -->
<div class="header_two">
    <div><i class="fa-solid fa-tree-city fa-2xl"></i><p>Cities</p></div>
    <div><i class="fa-solid fa-mountain-sun fa-2xl"></i><p>Mountains</p></div>
    <div><i class="fa-solid fa-kitchen-set fa-2xl"></i><p>kitchen</p></div>
    <div><i class="fa-solid fa-tower-observation fa-2xl"></i><p>Towers</p></div>
    <div><i class="fa-solid fa-igloo fa-2xl"></i><p>Domes</p></div>
    <div><i class="fa-solid fa-sailboat fa-2xl"></i><p>Boats</p></div>
    <div><i class="fa-solid fa-snowman fa-2xl"></i><p>Snow</p></div>
    <div><i class="fa-solid fa-glasses fa-2xl"></i><p>Beaches</p></div>
    <div><i class="fa-solid fa-bus fa-2xl"></i><p>Vehicles</p></div>
    <div><i class="fa-solid fa-apple-whole fa-2xl"></i><p>Food</p></div>
    <div><i class="fa-brands fa-sticker-mule fa-2xl"></i><p>Animals</p></div>
    <div><i class="fa-solid fa-binoculars fa-2xl"></i><p>View</p></div>
    <div><i class="fa-solid fa-wifi fa-2xl"></i><p>Wifi</p></div>
</div>
