<style>
        @import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Gloria+Hallelujah&family=Indie+Flower&family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Protest+Riot&family=Protest+Strike&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    * {
        font-family: "Roboto", sans-serif;
    }
    nav {
        display: flex;
        justify-content: space-between;
        /* justify-content: space-evenly; */
        padding: 16px 30px;
        border-bottom: 0.3px solid rgb(195, 194, 194);
        align-content: center;
        height: 82px;
    }
    .logo p {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        color: #ff385c;
        font-size: 20px;
    }
    .logo span {
        font-size: 26px;
        font-weight: 800;
    }
    .buttons {
        display: flex;
        border-radius: 30px;
        border: 1px solid grey;
        padding: 0 22.9px 0 22.9px;
        align-items: center;
    }
    .buttons button {
        border: none;
        background-color: white;
        font-weight: 600;
    }
    .buttons_a {
        border-right: 0.5px solid grey !important;
    }

.buttons_b {
    opacity: 0.5;
}
.thirdpart {
    display: flex;
    width: 17rem;
    justify-content: space-between;
    align-items: baseline;
    font-size: large;
}
.thirdpart div button {
    border-radius: 50%;
    border: 0.5px solid black;
}
.thirdpart div {
    border-radius: 26px;
    border: 1px solid gray;
    padding: 6px 9px;
    width: 5.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_two {
    display: flex;
    justify-content: space-around;
    padding: 5px 3px 9px 5px;
    margin-top: 13px;
    opacity: 0.6;
}

.header_two div {
    text-align: center; /* Align text center */
}

.header_two div:hover {
    opacity: 1;
    color: black;
}

.header_two div p {
    margin: 0; /* Remove default margin */
}

.thirdpart p a {
    text-decoration: none;
    color: black;
}

.thirdpart p {
    opacity: 0.8;
}

.thirdpart p:hover {
    opacity: 1;
}
</style>
<nav>
    <div class="logo">
            <p><i class="fa-brands fa-airbnb fa-2xl" style="color: #ff385c;"></i>&nbsp;<span>airbnb</span></p>
    </div>
    <div class="buttons">
        <button class="buttons_a">Anywhere&nbsp;</button>
        <button class="buttons_a">Any week&nbsp;</button>
        <button class="buttons_b">Add Guest&nbsp;</button><div class="search">&nbsp;&nbsp;<span><i class="fa-solid fa-magnifying-glass fa-sm"></i></span></div>
    </div>
    <div class="thirdpart">
        <p><a href="/listings">Airbnb your home <span><i class="fa-solid fa-globe"></i></span></a></p>
        <div>
            <a href="/listings/new"><i class="fa-solid fa-plus fa-lg" style="color: #ff385c;"></i></a>
            <a href="/user"><button><i class="fa-solid fa-user"></i></button></a>
        </div>
    </div>
</nav>

<!-- header two  -->
<div class="header_two">
    <div><i class="fa-solid fa-tree-city fa-2xl"></i><p>Cities</p></div>
    <div><i class="fa-solid fa-mountain-sun fa-2xl"></i><p>Mountains</p></div>
    <div><i class="fa-solid fa-kitchen-set fa-2xl"></i><p>kitchen</p></div>
    <div><i class="fa-solid fa-tower-observation fa-2xl"></i><p>Towers</p></div>
    <div><i class="fa-solid fa-igloo fa-2xl"></i><p>Domes</p></div>
    <div><i class="fa-solid fa-sailboat fa-2xl"></i><p>Boats</p></div>
    <div><i class="fa-solid fa-snowman fa-2xl"></i><p>Snow</p></div>
    <div><i class="fa-solid fa-glasses fa-2xl"></i><p>Beaches</p></div>
    <div><i class="fa-solid fa-bus fa-2xl"></i><p>Vehicles</p></div>
    <div><i class="fa-solid fa-apple-whole fa-2xl"></i><p>Food</p></div>
    <div><i class="fa-brands fa-sticker-mule fa-2xl"></i><p>Animals</p></div>
    <div><i class="fa-solid fa-binoculars fa-2xl"></i><p>View</p></div>
    <div><i class="fa-solid fa-wifi fa-2xl"></i><p>Wifi</p></div>
</div>
