<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="../public/css/error.css">
</head>
<body>
    <div class="container">
        <div class="error-code">404</div>
        <div class="error-message">Oops! It seems you've reached a dead end.</div>
        <img src="https://www.svgrepo.com/show/338118/sad-pain-emoji-emoticon.svg" alt="404 Image" class="error-image" >
        <div class="suggestions">
            <p>Suggestions:</p>
            <ul>
                <li><a href="/">Double-check the URL for any typos.</a></li>
                <li><a href="/listings">Return to the homepage</a></li>
                <li><a href="sunesejal@gmail.com">Contact our support team</a> if you believe this is a mistake.</li>
            </ul>
        </div>
        <div class="contact">Need further assistance? Reach out to <a href="sunesejal@gmail.com">support@example.com</a>.</div>
    </div>
</body>
</html>
