<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f9f9f9;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .container {
            text-align: center;
        }
        .error-code {
            font-size: 100px;
            color: #444;
            margin-bottom: 20px;
        }
        .error-message {
            font-size: 24px;
            color: #666;
            margin-bottom: 30px;
        }
        .error-image {
            max-width: 100%;
            height: 400px;
            margin-bottom: 30px;
            border-radius: 10px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        }
        .suggestions {
            margin-bottom: 20px;
        }
        .suggestions p {
            font-size: 18px;
            color: #666;
            margin-bottom: 10px;
        }
        .suggestions ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            text-align: center;
        }
        .suggestions ul li {
            display: inline-block;
            margin-right: 10px;
        }
        .suggestions ul li a {
            color: #007bff;
            text-decoration: none;
        }
        .suggestions ul li a:hover {
            text-decoration: underline;
        }
        .contact {
            font-size: 16px;
            color: #666;
        }
        .contact a {
            color: #007bff;
            text-decoration: none;
        }
        .contact a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="error-code">404</div>
        <div class="error-message">Oops! It seems you've reached a dead end.</div>
        <img src="https://www.svgrepo.com/show/338118/sad-pain-emoji-emoticon.svg" alt="404 Image" class="error-image" >
        <div class="suggestions">
            <p>Suggestions:</p>
            <ul>
                <li><a href="/">Double-check the URL for any typos.</a></li>
                <li><a href="/listings">Return to the homepage</a></li>
                <li><a href="sunesejal@gmail.com">Contact our support team</a> if you believe this is a mistake.</li>
            </ul>
        </div>
        <div class="contact">Need further assistance? Reach out to <a href="sunesejal@gmail.com">support@example.com</a>.</div>
    </div>
</body>
</html>
