@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Gloria+Hallelujah&family=Indie+Flower&family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Protest+Riot&family=Protest+Strike&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    font-family: "Roboto", sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    /* justify-content: space-evenly; */
    padding: 16px 30px;
    border-bottom: 0.3px solid rgb(195, 194, 194);
    align-content: center;
    height: 82px;
}
.logo p {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #ff385c;
    font-size: 20px;
}
.logo span {
    font-size: 26px;
    font-weight: 800;
}
.buttons {
    display: flex;
    border-radius: 30px;
    border: 1px solid grey;
    padding: 0 22.9px 0 22.9px;
    align-items: center;
}
.buttons button {
    border: none;
    background-color: white;
    font-weight: 600;
}
.buttons_a {
    border-right: 0.5px solid grey !important;
}
.search {
    height: 32px;
    width: 32px;
    background-color: #ff385c;
    border-radius: 50%;
    display: flex;
    align-items: center;
}
.search span {
    color: white;
}
.buttons_b {
    opacity: 0.5;
}
.thirdpart {
    display: flex;
    width: 17rem;
    justify-content: space-between;
    align-items: baseline;
    font-size: large;
}
.thirdpart div button {
    border-radius: 50%;
    border: 0.5px solid black;
}
.thirdpart div {
    border-radius: 26px;
    border: 1px solid gray;
    padding: 6px 9px;
    width: 5.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_two {
    display: flex;
    justify-content: space-around;
    padding: 5px 3px 9px 5px;
    margin-top: 13px;
    opacity: 0.6;
}

.header_two div {
    text-align: center; /* Align text center */
}

.header_two div:hover {
    opacity: 1;
    color: black;
}

.header_two div p {
    margin: 0; /* Remove default margin */
}

.main-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    width: 22rem !important;
    margin-bottom: 2.3rem;
    border: none;
    padding: 5px;
}
.card-text {
    margin: 0;
}
.card img {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.card-body {
    padding-top: 0.3px;
    padding-left: 0;
}

.thirdpart p a {
    text-decoration: none;
    color: black;
}

.thirdpart p {
    opacity: 0.8;
}

.thirdpart p:hover {
    opacity: 1;
}

/* details file  */
.detail_img div {
    width: 47%;
}
.detail_img {
    display: flex;
    flex-wrap: wrap;
}
#detail_img1 {
    height: 360px;
}
#detail_img2 {
    height: 176px;
}
#detail_img2a {
    height: 176px;
    padding-top: 0.9px;
}
.detail_title {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}
.btn-danger {
    background-color: #ff385c;
}
.details p {
    margin-bottom: 4px;
}
.detail_submain {
    padding: 15px;
    width: 71%;
    display: flex;
    flex-wrap: wrap;
}
.detail_main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.raddius {
    border-radius: 7px;
}
.detail_extra {
    width: 63%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.whatull {
    padding: 0.6rem 16rem;
}

/* footer  */
footer {
    background-color: #f7f7f7;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer div {
    flex: 1;
    margin: 0 10px;
}

footer h3 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer li {
    margin-bottom: 5px;
}

footer a {
    text-decoration: none;
    color: #666;
}

footer a:hover {
    color: #000;
}

footer p {
    margin: 5px 0;
    font-size: 14px;
}

/* edit page */
form {
    padding: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="file"],
input[type="password"],
input[type="number"],
textarea {
    /* width: 100%; */
    width: 55rem;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}
.edit_me {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit_me div {
    width: 60%
}
.title_change {
    font-size: 2rem;
    font-weight: 600;
}

 /* flash */
.contain {
    display: flex;
    justify-content: center;
}
.alert {
    width: 40%;
}
.locate {
    color: gray;
}

body {
    margin: 20px 0 0 0;
}